 
/********************************/
/**** ACCORDIONS SETUP********/
/*******************************/


.t13-accordion {
	box-shadow : 0 2px 2px 0 #dadad0;
	margin-bottom : 30px;
}

.t13-accordion-tab {
	border-bottom : 1px solid var(--dark-secondary-color);
	border-left : 1px solid var(--dark-secondary-color);
	border-right : 1px solid var(--dark-secondary-color);
	margin-bottom : 1px;
	overflow : hidden;
	position : relative;
	width : 100%;
}

.t13-accordion-tab-content {
	max-height : 0;
	overflow : hidden;
	transition : all 500ms;
}

.t13-accordion-tab-input {
	opacity : 0;
	position : absolute;
	z-index : -1;
}

.t13-accordion-tab input[type='checkbox'] + label {
	color : var(--soft-secondary-color);
}

.t13-accordion-tab input[type='checkbox']:checked + label {
	color : var(--title-color);
}

input:checked ~ .t13-accordion-tab-content {
	border-top : solid 3px var(--primary-color);
	max-height : 150px;
	padding : 15px 30px;
}

.t13-accordion-tab-label {
	background : var(--dark-secondary-color);
	color : var(--title-color);
	cursor : pointer;
	display : block;
	font-weight : bold;
	line-height : 3;
	padding-left : 15px;
	position : relative;
	text-transform : uppercase;
}

.t13-accordion-tab-label:after {
	display : block;
	height : 45px;
	line-height : 3;
	position : absolute;
	position : relative;
	right : 0;
	text-align : center;
	top : 0;
	width : 45px;
}

.t13-accordion input[type=checkbox]:checked + label:after {
	margin-top : 20px;
	transform : rotate(315deg);
}

.t13-accordion input[type=checkbox] + label:after {
	border-right : 2px solid var(--soft-secondary-color);
	border-top : 2px solid var(--soft-secondary-color);
	content : ' ';
	display : inline-block;
	float : right;
	height : 12px;
	margin : 10px 15px;
	transform : rotate(135deg);
	width : 12px;
}

/* Clean */

.clean .t13-accordion-tab-label {
	background-color : #ffffff;
}

.clean .t13-accordion-tab {
	border-bottom : 2px solid var(--faint-secondary-color);
	border-left : 0;
	border-right : 0;
	margin-bottom : 1px;
	overflow : hidden;
	position : relative;
	width : 100%;
}

.clean .t13-accordion-tab input[type='checkbox'] + label {
	color : var(--text-color);
}

div.clean input[type=checkbox] + label:after {
	border-right : 2px solid var(--soft-secondary-color);
	border-top : 2px solid var(--soft-secondary-color);
	content : ' ';
	display : inline-block;
	float : none;
	height : 8px;
	margin : 5px 15px;
	transform : rotate(135deg);
	width : 8px;
}

div.clean input[type=checkbox]:checked + label:after {
	margin : 0 15px;
	transform : rotate(315deg);
}

/* Modern */

.modern .t13-accordion-tab-label {
	background-color : var(--title-color);
}

.modern .t13-accordion-tab {
	border-bottom : 0;
	border-left : 0;
	border-right : 0;
	margin-bottom : 1px;
	overflow : hidden;
	position : relative;
	width : 100%;
}

.modern input:checked ~ .t13-accordion-tab-content {
	background-color : var(--dark-secondary-color);
	border-top : solid 5px var(--primary-color);
	max-height : 150px;
	padding : 15px 30px;
}

.modern .t13-accordion-tab input[type='checkbox'] + label {
	color : var(--text-color);
}

.modern .t13-accordion-tab-content p {
	color : var(--title-color);
}

.modern .t13-accordion-tab-content h2 {
	color : var(--primary-color);
}

div.modern input[type=checkbox] + label:after {
	float : right;
}