
/************ Grid ************/
.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  width: 100%;
}

.column,
.columns {
  box-sizing: border-box;
  float: left;
  width: 100%;
}



/************ Base Styles ************/

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: var(--font-content), sans-serif;
  color: var(--text-color);
  background-color: var(--site-background-color);
}

header {
  background-color: var(--header-background-color);
}

article {
  margin: 3em 0;
}


/************ Text ***********/
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 600;
}


h1 {
  font-size: 2.4rem;
  line-height: 1.35;
}

h2 {
  font-size: 1.8rem;
  line-height: 1.5;
}



/************ Anchors ************/
a {
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}


/************ Lists ************/

li {
  list-style-type: none;
}



/*********** Resizing ***********/

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    padding: 0;
    width: 85%;
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%;
  }

  .two.columns {
    width: 13.3333333333%;
  }

  .ten.columns {
    width: 82.6666666667%;
  }
}


/* For devices larger than 1250px */
@media (min-width: 1250px) {
  .container {
    width: 1100px;
  }
}
