/* CSS for Button component -> <section id="button"> */

.cfa-section__buttons li {
  margin: 0 1%;
}

/******* container for the component elements *******/

.cfa-container {
  display: flex;
  justify-content: flex-start;
}


/****** Basic button styles ******/
.cfa-button {
  border-radius: 3px;
  border-style: solid;
  font-weight: 700;
  color: var(--soft-primary-color);
  background-color: Transparent;
  border: 1px solid var(--soft-primary-color);
  outline: none;
  padding: 8px 22px;
  transition: all 500ms;
  min-width: 103px;
  white-space: nowrap;
}

.cfa-button:hover {
  background-color: var(--button-hover);
  color: var(--button-font-light);
  border-color: var(--button-hover);

}

.cfa-button:active {
  background-color: var(--button-active);
  border-color: var(--button-active);
}


.cfa-button:disabled, .cfa-button--disabled {
  background-color: var(--button-disabled);
  border-color: var(--button-disabled);
  color: var(--button-font-light);
}

i.fa {
  padding-right: 10px;
}


/****** Rounded button styles *****/
.cfa-button--rounded {
  border-radius: 20px;
}

/****** Button Groups *******/

ul.cfa-container--grouped>div>li {
  margin: 0;
}

ul.cfa-container--grouped>div {
  display: flex;
  justify-content: flex-start;
  margin: 0 20px;
}

.cfa-container__rounded-group li:first-child>button {
  border-radius: 20px 0 0 20px;
}

.cfa-container__rounded-group li:last-child>button {
  border-radius: 0 20px 20px 0;
}


/* For devices smaller than 970px */
@media (max-width: 970px) {
  .cfa-container {
    flex-direction: column;
  }

  .cfa-container li,
  .cfa-container--grouped>div>li {
    margin: 8px 0 !important;
  }
}
