/* CSS for Button component -> <section id="button"> */

.cfa-section__buttons li {
  margin: 0 1%;
}

/******* container for the component elements *******/

.t13-button-container {
  display: flex;
  justify-content: flex-start;
}


/****** Basic button styles ******/
.t13-button {
  border-radius: 3px;
  border-style: solid;
  font-weight: 700;
  color: var(--soft-primary-color);
  background-color: Transparent;
  box-shadow: 0 2px 2px 0px #dadad0;
  border: 1px solid var(--soft-primary-color);
  outline: none;
  padding: 8px 22px;
  transition: all 500ms;
  min-width: 103px;
  white-space: nowrap;
}

.t13-button:hover {
  background-color: var(--button-hover);
  color: var(--button-font-light);
  border-color: var(--button-hover);

}

.t13-button:active {
  background-color: var(--button-active);
  border-color: var(--button-active);
}


.t13-button:disabled, .t13-button--disabled {
  background-color: var(--button-disabled);
  border-color: var(--button-disabled);
  color: var(--button-font-light);
}

i.fa {
  padding-right: 10px;
}


/****** Rounded button styles *****/
.t13-button--rounded {
  border-radius: 20px;
}

/****** Button Groups *******/

ul.t13-button-container--grouped>div>li {
  margin: 0;
}

ul.t13-button-container--grouped>div {
  display: flex;
  justify-content: flex-start;
  margin: 0 20px;
}

.t13-button-container__rounded-group li:first-child>button {
  border-radius: 20px 0 0 20px;
}

.t13-button-container__rounded-group li:last-child>button {
  border-radius: 0 20px 20px 0;
}


/* For devices smaller than 970px */
@media (max-width: 970px) {
  .t13-button-container {
    flex-direction: column;
    padding: 0;
  }

  .t13-button-container--grouped>div {
    margin-left: 0 !important; 
  }

  .t13-button-container li,
  .t13-button-container--grouped>div>li {
    margin: 8px 0 !important;
  }
}
