 /*IMAGE GALLERY AND CAROUSEL*/

.t13-carousel-gallery {
    border-radius: 10px;
    /* margin: 0 auto; */
    border: 2px solid var(--soft-primary-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    position: relative;
    padding: 12px;
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    /* flex-direction: column; */
}

.t13-carousel-gallery:after {
content: "";
display: block;
clear: both;
}

.t13-carousel-gallery li {
    max-width: 100%;
    height: 161px;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.t13-carousel-gallery li > a {
    float: left;
    max-height: 100%;
    filter: grayscale(1);
    transition: .5s;
    position: relative;
    overflow: hidden;
}

.t13-carousel-gallery li > a img {
    max-width: 100%;
    height: 161px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    transition: .5s;
    padding: 0px;
    border-radius: 3px;
}

.t13-carousel-gallery li > a:hover {
filter: grayscale(0) sepia(0);
z-index: 1;
}

.t13-carousel-gallery li > a:hover img {
transform: scale(1.4);
box-shadow: 0 0 15px rgba(0, 0, 0, .8);
}

.t13-carousel-gallery article {
width: 0;
height: 0;
overflow: hidden;
position: absolute;
top: 0;
left: 0;
transform: translateX(-99px);
}

.t13-carousel-gallery article:target {
    width: 900px;
    height: 650px;
padding: 100px 0;
box-sizing: border-box;
margin: 0;
text-align: center;
background: rgba(0, 0, 0, .8);
z-index: 1;
position: absolute;
}

.t13-carousel-gallery article img {
opacity: 0;
transition: .7s;
border: 10px solid #fff;
max-height: 100%;
max-width: 100%;
box-sizing: border-box;
box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.t13-carousel-gallery article:target img {
opacity: 1;
}

.t13-carousel-gallery figcaption {
background: rgba(250, 250, 250, .1);
padding: 5px 10px;
font-size: 1.3em;
font-style: italic;
color: #999;
margin-top: 20px;
}

article.t13-carousel-gallery-article .close {
  position: absolute;
  left: 50%;
  top: 40px;
  margin-left: -50px;
  width: 100px;
  background: rgba(250, 250, 250, .9);
  color: #333;
  border-radius: 15px;
  text-decoration: none;
  padding: 6px 6px 6px 25px;
  box-sizing: border-box;
  text-transform: uppercase;
  transition: .5s;
}

article.t13-carousel-gallery-article .close:before {
    content: "X";
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    position: absolute;
    padding-top: 3px;
    top: 5px;
    left: 5px;
    width: 24px;
    height: 24px;
    background: var(--primary-color);
    border-radius: 50%;
  }

  article.t13-carousel-gallery-article .close:hover {
    background: #fff;
  }

article.t13-carousel-gallery-article .arrow {
  position: absolute;
  top: 250px;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  text-indent: -9999px;
  transition: .4s;
}

article.t13-carousel-gallery-article .prev {
  left: 50%;
  margin-left: -450px;
  border-right: 60px solid rgba(250, 250, 250, .1);
}

  article.t13-carousel-gallery-article .prev:hover {
        border-right: 60px solid rgba(87, 174, 199, 0.69);
  }

article.t13-carousel-gallery-article .next {
  right: 50%;
  margin-right: -450px;
  border-left: 60px solid rgba(250, 250, 250, .1);
}

  article.t13-carousel-gallery-article .next:hover,
  article.t13-carousel-gallery-article > a:hover ~ nav .next {
     border-left: 60px solid rgba(87, 174, 199, 0.69);
  }


@media screen and (max-width: 1200px ){

.t13-carousel-gallery article:target {
    transform: scale(0.8);
    transform: translateX(-171px);      
}

}


@media screen and (max-width: 1100px ){

.t13-carousel-gallery article:target {
    transform: scale(0.8, 0.8)! important;
    transform: translateX(-249px);   
        margin: 0 -50%;   
}

}



@media screen and (max-width: 500px ){

.t13-carousel-gallery article:target {
    transform: translateX(-138px) scale(0.5, 0.5)! important;
    margin: 0 -50%;   
}

}


 /*IMAGE GALLERY FLOW*/






figure {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  text-decoration: none;
}


/* // CUSTOM // */

.t13-carousel-flow-list {
  display: flex;
  width: 100%;
  list-style: none;
  flex-direction: column;
  padding: 0;
}

.t13-carousel-flow-item {
  /* box-shadow: 4px 4px 2px rgb(8, 7, 7), inset -2px -2px 10px rgb(16, 15, 15), -2px -2px 2px rgb(16, 15, 15); */
  padding: 10px 0px 0 0px;
 background: var(--primary-color);
  border-radius: 20px 20px 28px 28px;
  box-shadow: inset 0px -5px 2px -2px rgba(0, 0, 0, 0.19);
      max-width: 600px;
}

/* 
li.t13-carousel-flow-item:hover {
  transform-style: preserve-3d;
  transform: rotate3d(49,5,0, -23deg);
}
 */

.t13-carousel-flow-inp {
  opacity: 0;
}

.t13-carousel-flow-lbl {
  background: rgb(204, 204, 204);
  color: rgb(153, 153, 153);
  display: block;
 border: 5px solid var(--soft-primary-color);
  cursor: pointer;
  border-radius: 12px;
  max-width: 590px;
}

.t13-flow-item-fig {
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: all 300ms;
}
/*
.t13-flow-item-fig > img {
}*/


/* // TEXT // */

.t13-flow-item-figcap {
  margin: 0 auto;
  display: block;
  position: absolute;
  display: block;
  padding: 50px 0;
  width: 100%;
  text-align: center;
  bottom: 0;
  transform: translateY(122px);  
  transition: all 50ms;
}

.t13-carousel-flow-inp {
  opacity: 0;
}

.t13-flow-item-fig:hover > .t13-flow-item-figcap,
.t13-carousel-flow-inp:checked + .t13-carousel-flow-item > .t13-carousel-flow-lbl .t13-flow-item-fig .t13-flow-item-figcap {
    background: rgba(0, 0, 0, 0.56);
    bottom: 0;
    opacity: 1;
    padding: 45px 0;
    border-radius: 0 0 10px 8px;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.79);
    -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.t13-flow-item-figcap-text {
  display: none;
/*   transform: translateY(150px); */
  animation: displayText 3s linear;  
}

.t13-carousel-flow-inp:checked + .t13-carousel-flow-item > .t13-carousel-flow-lbl .t13-flow-item-fig .t13-flow-item-figcap + .t13-flow-item-figcap-text,
.t13-flow-item-figcap:hover + .t13-flow-item-figcap-text { 
    display: block;
    position: absolute;
    top: -17px;
    left: 0; 
    background: rgba(12, 11, 11, 0.73);
    border-radius: 8px 8px 0 0;
    padding: 20px;
/*     z-index: 10; */
/*     transform: translateY(-16px); */
}

@keyframes displayText {
  0% {
/*     transform: translateY(0px); */
    top: -180px;
  }
  100% {
/*     transform: translateY(-150px); */
    top: -17px;
  }
}