 /*IMAGE GALLERY AND CAROUSEL*/

.t13-carousel-gallery {
border-radius: 10px;
    margin: 0 auto;
    border: 2px solid var(--soft-primary-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    position: relative;
    padding: 12px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.t13-carousel-gallery:after {
content: "";
display: block;
clear: both;
}

.t13-carousel-gallery li {
    max-width: 31%;
    height: 161px;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.t13-carousel-gallery li > a {
    float: left;
    max-height: 100%;
    filter: grayscale(1);
    transition: .5s;
    position: relative;
    overflow: hidden;
}

.t13-carousel-gallery li > a img {
    max-width: 100%;
    height: 161px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    transition: .5s;
    padding: 0px;
    border-radius: 3px;
}

.t13-carousel-gallery li > a:hover {
filter: grayscale(0) sepia(0);
z-index: 1;
}

.t13-carousel-gallery li > a:hover img {
transform: scale(1.4);
box-shadow: 0 0 15px rgba(0, 0, 0, .8);
}

.t13-carousel-gallery article {
width: 0;
height: 0;
overflow: hidden;
position: absolute;
top: 0;
left: 0;
}

.t13-carousel-gallery article:target {
    width: 900px;
    height: 650px;
padding: 100px 0;
box-sizing: border-box;
margin: 0;
text-align: center;
background: rgba(0, 0, 0, .8);
z-index: 1;
position: absolute;
}

.t13-carousel-gallery article img {
opacity: 0;
transition: .7s;
border: 10px solid #fff;
max-height: 100%;
max-width: 100%;
box-sizing: border-box;
box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.t13-carousel-gallery article:target img {
opacity: 1;
}

.t13-carousel-gallery figcaption {
background: rgba(250, 250, 250, .1);
padding: 5px 10px;
font-size: 1.3em;
font-style: italic;
color: #999;
margin-top: 20px;
}

article.t13-carousel-gallery-article .close {
  position: absolute;
  left: 50%;
  top: 40px;
  margin-left: -50px;
  width: 100px;
  background: rgba(250, 250, 250, .9);
  color: #333;
  border-radius: 15px;
  text-decoration: none;
  padding: 6px 6px 6px 25px;
  box-sizing: border-box;
  text-transform: uppercase;
  transition: .5s;
}

article.t13-carousel-gallery-article .close:before {
    content: "X";
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    position: absolute;
    padding-top: 3px;
    top: 5px;
    left: 5px;
    width: 24px;
    height: 24px;
    background: var(--primary-color);
    border-radius: 50%;
  }

  article.t13-carousel-gallery-article .close:hover {
    background: #fff;
  }

article.t13-carousel-gallery-article .arrow {
  position: absolute;
  top: 250px;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  text-indent: -9999px;
  transition: .4s;
}

article.t13-carousel-gallery-article .prev {
  left: 50%;
  margin-left: -450px;
  border-right: 60px solid rgba(250, 250, 250, .1);
}

  article.t13-carousel-gallery-article .prev:hover {
        border-right: 60px solid rgba(87, 174, 199, 0.69);
  }

article.t13-carousel-gallery-article .next {
  right: 50%;
  margin-right: -450px;
  border-left: 60px solid rgba(250, 250, 250, .1);
}

  article.t13-carousel-gallery-article .next:hover,
  article.t13-carousel-gallery-article > a:hover ~ nav .next {
     border-right: 60px solid rgba(87, 174, 199, 0.69);
  }
