 
/********************************/
/**** CAROUSEL AND IMAGE SETUP********/
/*******************************/
 
 /* Base Settings */

.t13-carousel-gallery {
	/* margin: 0 auto; */
	border : 2px solid var(--soft-primary-color);
	border-radius : 10px;
	box-shadow : 0 0 20px rgba(0, 0, 0, .5);
	display : flex;
	/* justify-content: space-around; */
	flex-wrap : wrap;
	padding : 12px;
	position : relative;
	/* flex-direction: column; */
}

.t13-carousel-gallery:after {
	clear : both;
	content : '';
	display : block;
}

.t13-carousel-gallery li {
	border-radius : 5px;
	height : 161px;
	margin : 0 auto;
	margin-bottom : 10px;
	max-width : 100%;
}

.t13-carousel-gallery li > a {
	filter : grayscale(1);
	float : left;
	max-height : 100%;
	overflow : hidden;
	position : relative;
	transition : .5s;
}

.t13-carousel-gallery li > a img {
	border-radius : 3px;
	box-shadow : 0 0 5px rgba(0, 0, 0, .3);
	height : 161px;
	max-width : 100%;
	padding : 0;
	transition : .5s;
}

.t13-carousel-gallery li > a:hover {
	filter : grayscale(0) sepia(0);
	z-index : 1;
}

.t13-carousel-gallery li > a:hover img {
	box-shadow : 0 0 15px rgba(0, 0, 0, .8);
	transform : scale(1.4);
}

.t13-carousel-gallery article {
	height : 0;
	left : 0;
	overflow : hidden;
	position : absolute;
	top : 0;
	transform : translateX(-99px);
	width : 0;
}

.t13-carousel-gallery article:target {
	background : rgba(0, 0, 0, .8);
	box-sizing : border-box;
	height : 650px;
	margin : 0;
	padding : 100px 0;
	position : absolute;
	text-align : center;
	width : 900px;
	z-index : 1;
}

.t13-carousel-gallery article img {
	border : 10px solid #ffffff;
	box-shadow : 0 0 20px rgba(0, 0, 0, .5);
	box-sizing : border-box;
	max-height : 100%;
	max-width : 100%;
	opacity : 0;
	transition : .7s;
}

.t13-carousel-gallery article:target img {
	opacity : 1;
}

.t13-carousel-gallery figcaption {
	background : rgba(250, 250, 250, .1);
	color : #999999;
	font-size : 1.3em;
	font-style : italic;
	margin-top : 20px;
	padding : 5px 10px;
}

article.t13-carousel-gallery-article .close {
	background : rgba(250, 250, 250, .9);
	border-radius : 15px;
	box-sizing : border-box;
	color : #333333;
	left : 50%;
	margin-left : -50px;
	padding : 6px 6px 6px 25px;
	position : absolute;
	text-decoration : none;
	text-transform : uppercase;
	top : 40px;
	transition : .5s;
	width : 100px;
}

article.t13-carousel-gallery-article .close:before {
	background : var(--primary-color);
	border-radius : 50%;
	color : #ffffff;
	content : 'X';
	font-family : Arial;
	font-weight : bold;
	height : 24px;
	left : 5px;
	padding-top : 3px;
	position : absolute;
	top : 5px;
	width : 24px;
}

article.t13-carousel-gallery-article .close:hover {
	background : #ffffff;
}

article.t13-carousel-gallery-article .arrow {
	border-bottom : 40px solid transparent;
	border-top : 40px solid transparent;
	height : 0;
	position : absolute;
	text-indent : -9999px;
	top : 250px;
	transition : .4s;
	width : 0;
}

article.t13-carousel-gallery-article .prev {
	border-right : 60px solid rgba(250, 250, 250, .1);
	left : 50%;
	margin-left : -450px;
}

article.t13-carousel-gallery-article .prev:hover {
	border-right : 60px solid rgba(87, 174, 199, .69);
}

article.t13-carousel-gallery-article .next {
	border-left : 60px solid rgba(250, 250, 250, .1);
	margin-right : -450px;
	right : 50%;
}

article.t13-carousel-gallery-article .next:hover,
article.t13-carousel-gallery-article > a:hover ~ nav .next {
	border-left : 60px solid rgba(87, 174, 199, .69);
}


@media screen and (max-width: 1200px ) {
	.t13-carousel-gallery article:target {
		transform : scale(.8);
		transform : translateX(-171px);
	}
}


@media screen and (max-width: 1100px ) {
	.t13-carousel-gallery article:target {
		margin : 0 -50%;
		transform : scale(.8, .8)! important;
		transform : translateX(-249px);
	}
}

@media screen and (max-width: 500px ) {
	.t13-carousel-gallery article:target {
		margin : 0 -50%;
		transform : translateX(-138px) scale(.5, .5)! important;
	}
}


/*IMAGE GALLERY FLOW*/

figure {
	align-items : center;
	display : flex;
	flex-direction : column;
	margin : 0;
	padding : 0;

	justify-content : center;
}

li {
	text-decoration : none;
}

/* // CUSTOM // */

.t13-carousel-flow-list {
	display : flex;
	flex-direction : column;
	list-style : none;
	padding : 0;
	width : 100%;
}

.t13-carousel-flow-item {
	background : var(--primary-color);
	border-radius : 20px 20px 28px 28px;
	box-shadow : inset 0 -5px 2px -2px rgba(0, 0, 0, .19);
	max-width : 600px;
	/* box-shadow: 4px 4px 2px rgb(8, 7, 7), inset -2px -2px 10px rgb(16, 15, 15), -2px -2px 2px rgb(16, 15, 15); */
	padding : 10px 1px 0 1px;
}

.t13-carousel-flow-inp {
	opacity : 0;
}

.t13-carousel-flow-lbl {
	background : rgb(204, 204, 204);
	border : 5px solid var(--soft-primary-color);
	border-radius : 12px;
	color : rgb(153, 153, 153);
	cursor : pointer;
	display : block;
	max-width : 590px;
}

.t13-flow-item-fig {
	overflow : hidden;
	position : relative;
	transition : all 300ms;
}

.t13-flow-item-fig > img {
	border-radius : 16px;
	/*      box-shadow: 20px 20px 15px; */
}

/* // TEXT // */

.t13-flow-item-figcap {
	bottom : 0;
	display : block;
	display : block;
	margin : 0 auto;
	padding : 50px 0;
	position : absolute;
	text-align : center;
	transform : translateY(122px);
	transition : all 50ms;
	width : 100%;
}

.t13-carousel-flow-inp {
	opacity : 0;
}

.t13-flow-item-fig:hover > .t13-flow-item-figcap,
.t13-carousel-flow-inp:checked + .t13-carousel-flow-item > .t13-carousel-flow-lbl .t13-flow-item-fig .t13-flow-item-figcap {
	background : rgba(0, 0, 0, .56);
	border-radius : 0 0 10px 8px;
	bottom : 0;
	color : rgba(255, 255, 255, .79);
	font-size : 20px;
	font-weight : bold;
	opacity : 1;
	padding : 45px 0;
	-webkit-transform : translateY(0px);
	        transform : translateY(0px);
}

.t13-flow-item-figcap-text {
	/*   transform: translateY(150px); */
	animation : displayText 3s linear;
	display : none;
}

.t13-carousel-flow-inp:checked + .t13-carousel-flow-item > .t13-carousel-flow-lbl .t13-flow-item-fig .t13-flow-item-figcap + .t13-flow-item-figcap-text,
.t13-flow-item-figcap:hover + .t13-flow-item-figcap-text {
	background : rgba(12, 11, 11, .73);
	border-radius : 8px 8px 0 0;
	display : block;
	left : 0;
	padding : 20px;
	position : absolute;
	top : -17px;
	/*     z-index: 10; */
	/*     transform: translateY(-16px); */
}

@keyframes displayText {
	0% {
		/*     transform: translateY(0px); */
		top : -180px;
	}
	100% {
		/*     transform: translateY(-150px); */
		top : -17px;
	}
}
