/* CSS for the <header> */

header {
  background-color: var(--header-background-color);
  padding: 40px 0;
  display: flex;
  align-items: center;
}

header img {
  width: 100px;
  height: 100px;
}

header h1 {
  font-size: 2em;
  color: var(--secondary-color);
}

header span {
  color: var(--primary-color); 
}
