@import url("normalize.css");
@import url("root.css");
@import url("base.css");
@import url("header.css");
@import url("nav.css");
@import url("main-section.css");
@import url("footer.css");

/* Import Component CSS */
@import url("buttons.css");
@import url("cards.css");
@import url("forms.css");
@import url("accordion.css");
@import url("tabs.css");
@import url("table.css");
@import url("lists.css");
@import url("speech.css");
