/* CSS for  <main> */


main {
  background-color: white;
  margin-top: 50px;
}

section {
  border-top: 5px solid var(--faint-secondary-color);
}

main section {
  padding-top: 70px;
}

main>div {
  border: 1px solid transparent;
  padding: 100px;
  padding-bottom: 0;
}

#button {
  padding-top: 0;
  border: none;
}

/* For devices smaller than 900px */
@media (max-width: 900px) {
  main>div {
    padding-left: 30px;
  }
}


/* For devices smaller than 550px */
@media (max-width: 550px) {
  main>div {
    padding-top: 30px;
  }
}
