
/********************************/
/**** PAGINATION SETUP********/
/*******************************/

/* Base Setup*/

/* CSS for Pagination component -> <section id="section-pagination"> */

/* Simple Pagination Style */
.c-pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.c-pagination__item a {
  color: var(--secondary-color);
}

.c-pagination__item:hover a,
.c-pagination__chevron a  {
  color: var(--soft-primary-color);
}

.c-pagination__item.is-active a {
  color: var(--primary-color);
}


/* Bordered Pagination Style */
.c-pagination__item--bordered {
  border: 1px solid var(--soft-primary-color);
  padding: 10px;
}

.c-pagination__item--bordered:hover,
.c-pagination__item--bordered:hover a,
.c-pagination__item--bordered.is-active,
.c-pagination__item--bordered.is-active a {
  background-color: var(--primary-color);
  color: #fff;
}
