
/********************************/
/**** PAGINATION SETUP********/
/*******************************/

/* Base Setup*/

/* CSS for Pagination component -> <section id="section-pagination"> */

/* Simple Pagination Style */
.t13-c-pagination {
	align-items : center;
	display : flex;
	justify-content : space-around;
}

.t13-c-pagination__item a {
	color : var(--secondary-color);
}

.t13-c-pagination__item:hover a,
.t13-c-pagination__chevron a {
	color : var(--soft-primary-color);
}

.t13-c-pagination__item.is-active a {
	color : var(--primary-color);
}


/* Bordered Pagination Style */
.t13-c-pagination__item--bordered {
	border : 1px solid var(--soft-primary-color);
	padding : 10px;
}

.t13-c-pagination__item--bordered:hover,
.t13-c-pagination__item--bordered:hover a,
.t13-c-pagination__item--bordered.is-active,
.t13-c-pagination__item--bordered.is-active a {
	background-color : var(--primary-color);
	color : #ffffff;
}
