
/********************************/
/**** SHAKE TO ACTION SETUP********/
/*******************************/

/* SHAKE ELEMENT ANIMATION */

.t13-shake:hover {
	-webkit-animation: shake 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	-moz-animation: shake 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: shake 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(3px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-5px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(5px, 0, 0);
  }
}




/* ON PAGE EXAMPLE STYLES */

.cta-example {
  height: 400px;
  background: darkgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.cta-example .cta-example-container {
  width: 400px;
  height: 250px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
  box-shadow: 0px 20px 25px -10px rgba(0, 0, 0, 0.2);
  background: white;
  border: 4px solid white;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.cta-example .cta-example-container .cta-example-mast {
  width: 100%;
  height: 80px;
  background: #e6e6e6;
}

.cta {
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: 50px;
  height: 20px;
  background-color: #57AEC7;
  box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.2);
}

/* We create an infinite loop of the shake animation for the example.*/
.t13-shake-example {
	-webkit-animation: shake 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite;
	-moz-animation: shake 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite;
	animation: shake 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite;
}


/* Shake starts after a 5s delay upon hover of the main div container */
.cta-example-2:hover .t13-shake-example-2 {
	-webkit-animation: shake 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 5s both infinite;
	-moz-animation: shake 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 5s both infinite;
	animation: shake 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 5s both infinite;
}
