
/********************************/
/**** TABLE SETUP********/
/*******************************/

/* Base Setup*/

.t13-table {
	border : 1px solid var(--title-color);
	border-collapse : collapse;
	box-shadow : 0 2px 2px 0 #dadad0;
	margin : 25px auto;
}

.t13-table th {
	font-size : 1.6rem;
}

/*Table Simple*/

.t13-table-simple tr:hover {
	background : #f4f4f4;
}

.t13-table-simple td {
	color : var(--dark-secondary-color);
}

.t13-table-simple th,
.t13-table-simple td {
	border : 1px solid #eeeeee;
	border-collapse : collapse;
	color : #999999;
	padding : 12px 35px;
}

.t13-table-simple th {
	color : var(--dark-secondary-color);
	font-family : var(--font-heading);
}

th.last {
	border-right : none;
}

/*Table Colored*/

.t13-table-colored tr:hover {
	background : #f4f4f4;
}

.t13-table-colored td {
	color : var(--dark-secondary-color);
}

.t13-table-colored th,
.t13-table-colored td {
	border : 1px solid #eeeeee;
	border-collapse : collapse;
	color : #999999;
	padding : 12px 35px;
}

.t13-table-colored th {
	background : var(--soft-primary-color);
	color : #ffffff;
}

th.last {
	border-right : none;
}

/*Editable Colored*/

.t13-table-editable tbody tr:hover {
	background : #f4f4f4;
}

.t13-table-editable td {
	color : var(--dark-secondary-color);
}

.t13-table-editable th,
.t13-table-editable td {
	border : 1px solid #eeeeee;
	border-collapse : collapse;
	color : #999999;
	padding : 12px 35px;
}

.t13-table-editable th {
	border : 1px solid var(--soft-primary-color);
	color : var(--soft-primary-color);
}

th.last {
	border-right : none;
}

.t13-table-editable tfoot tr {
	background : var(--soft-primary-color);
	border-top : 1px solid var(--soft-primary-color);
	color : #ffffff;
}

.t13-table-editable tfoot tr th {
	color : #ffffff;
}
